@import "tailwindcss";

@theme{
  --color-ink: #111111;
  --color-ghost: #F8F9FA;
}

:root {
  --foreground-rgb: 17, 17, 17;
  --background-rgb: 255, 255, 255;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff; /* clean background */
  scroll-behavior: smooth;
}

/* ================= COMPONENTS ================= */

@layer components {
  .btn-main {
    @apply text-white px-10 py-4 rounded-xl font-bold 
    transition-all duration-300 hover:shadow-[0_10px_30px_rgba(255,99,71,0.3)]
    hover:-translate-y-1 active:scale-95 cursor-pointer;
  }
  
  .card-white {
    @apply border border-gray-100 rounded-[32px] p-10
    transition-all duration-500 hover:border-[tomato]/30 hover:shadow-[0_20px_50px_rgba(0,0,0,0.05)];
  }

  .huge-text {
    @apply text-6xl md:text-[100px] font-black tracking-tighter leading-[0.9] text-ink;
  }
}

/* ================= UTILITIES ================= */

@layer utilities {
  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee-infinite 40s linear infinite;
  }

  .group:hover .animate-marquee {
    animation-play-state: paused;
  }

  @keyframes marquee-infinite {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
}